*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
@media (max-width: 1200px) {
    .nav{
        font-size: 18px;
    }
}
@media (max-width: 960px) {
    .nav{
        font-size: 16px;
    }
}
@media (max-width: 770px) {
    .nav{
        font-size: 14px;
    }
}
@media (max-width: 550px) {
    .nav{
        font-size: 12px;
    }
}
nav{
    width: 100%;
    position: fixed;
    top: 30px;
}
.nav{
    font-size: 20px;/*一会要改变的font-size值*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.nav_logo{
    padding: 1.2em 1.5em;
    box-shadow: rgb(177, 177, 177) 1px 1px 15px;
    border-radius: 15px 0 0 15px;
    height: 100%;
}
.nav_logo img{
    width: 6.5em;
}
/* 导航部分 */
#nav{
    box-shadow: rgb(177, 177, 177) 1px 1px 15px;
    padding: 1.2em 80px;
    font-size: 1em;
    margin: 0 5px;
}
.nav_one{
    float: left;
    position: relative;
    height: 100%;
    margin-right: 4em;
}
#nav :last-child{
    margin: 0;
}
.nav_one a{
    font-size: 0.7em;
}
.nav_one ul{
    position: absolute;
    display: none;
}
/* 导航部分 */
/* 导航栏右边 */
.nav_right{
    padding: 1.2em 1.5em;
    box-shadow: rgb(177, 177, 177) 1px 1px 15px;
    border-radius: 0 15px 15px 0;
    font-size: 1em;
}
.nav_right a{
    font-size: 0.7em;
}
.nav_right a::after{
    content: '|';
    color: rgb(177, 177, 177);
    opacity: 0.3;
    padding: 0 1.5em;
}
/* 导航栏右边 */
