/* banner start yzc */
.banner{
    padding: 0;
    margin: 0 0 1px 0;
}
.swiper1{
    position: relative;
    width: 100%;
    height: 100%;
}
.swiper1 img{
    width: 100%;
    height: 100%;
}
.banner .swiper-container{
    --swiper-theme-color:#ff6600;/*更改主题颜色*/
    --swiper-pagination-color:#fff;/*下边分页器颜色*/
    --swiper-navigation-color:#fff;/*左右箭头颜色*/
    --swiper-navigation-size:40px;/*左右箭头大小*/
}
.swiper-pagination-bullet{
    width: 11px;
    height: 11px;
}
.swiper-pagination{
    text-align: right;
    padding-right: 30px;
}
.swiper-button-prev{
    left: 0;
    border: none;
}
.swiper-button-next{
    right: 0;
}
/* 左右箭头 */
.swiper-button-prev, .swiper-button-next{
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}
/* .swiper-slide{
    background-size: cover;
    background-position: 50% 50%;
} */
.ban_kk{
    position: relative;
    z-index: 13;
}
.ban_1{
    padding: 3vw 0 2vw 2vw;
    color: white;
    text-align: left;
    background-color: rgba(253, 164, 19, 0.81);
    width: 55%;
}
.ban_2{
    padding: 3vw 2vw 4vw 4vw;
    color: white;
    text-align: right;
    background-color: rgba(7, 55, 99, 0.86);
    width: 60%;
}
.ban_1 .h1{
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px 5px 5px 0px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.ban_1 .h3{
    line-height: 1.3em;
    margin-top: 0px;
    padding: 0px 5px 0px 0px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 24px;
}
.ban_2 .h1{
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px 5px 5px;
    font-size: 56px;
    font-weight: bolder;
    min-width: 7px;
}
.ban_2 .h3{
    line-height: 1.3em;
    margin-top: 0px;
    padding: 0px 5px;
    margin-bottom: 5px;
}
.ban_x_1{
    position: absolute;
    bottom: -300px;
}
.ban_x_2{
    position: absolute;
    right: 0;
    bottom: -300px;
}
.ban_x_3{
    position: absolute;
    bottom: -300px;
}
.c1{
    animation: c1 2s forwards;
}
/* 动画 */
@keyframes c1{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}
/* 动画 */
/* banner end yzc */

/* content start yzc */
.con1{
    padding-bottom: 0px;
    padding-top: 70px;
    background-color: rgb(255, 255, 255);
    min-height: 20px;
}
.con1_1{
    background-color: transparent;
    padding: 10px;
    text-align: center;
    margin-bottom: 48px;
}
.con1_yinying{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(244, 244, 244);
    min-height: 160px;
    cursor: pointer;
}
.con1_yinying:hover{
    -webkit-box-shadow: rgba(0, 0, 0, 0.188235) 0px 17px 50px 0px;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 17px 50px 0px;
    -webkit-transform: translate3d(0px, -2px, 0px);
    transform: translate3d(0px, -2px, 0px);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transition: All 0.3s ease;
    transition: All 0.3s ease;
    z-index: 10;
}
.con1_1_bj{
    text-align: center;
    min-height: 20px;
}
.con1_1_bj0{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50px;
    margin-top: -29px;
}
.con1_1_bj1{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con1_1.png);
}
.con1_1_bj2{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con1_2.png);
}
.con1_1_bj3{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con1_3.png);
}
.con1_1_bj4{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con1_4.png);
}
.con1_1_h4{
    font-weight: normal;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.con1_1_p{
    line-height: 2em;
    font-weight: 200;
    padding: 0px 10px;
    margin-bottom: 15px;
    font-size: 14px;
    opacity: 0.8;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
/* con2 start yzc */
.con_top{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(217, 217, 217);
    min-height: 20px;
    margin: 70px 80px 20px;
    padding-left: 0px;
}
.con_top .h2{
    margin-top: 10px;
    line-height: 1em;
    color: #050404;
}
.con_top .hr{
    flex: 1 1 0%;
    margin-left: 20px;
    margin-right: 20px;
    border-top-color: currentcolor !important;
}
.con2_top{
    min-height: 0px;
    text-align: center;
    color: black;
    flex: 0 0 auto;
    max-width: 60%;
}
.con2_top img{
    width: 90px;
    margin-bottom: 10px;
    max-width: 90px;
}
.p1{
    line-height: 1.7em;
    font-weight: 200;
    padding: 0px 15px;
    margin-bottom: 30px;
    font-size: 13px;
    opacity: 0.8;
    margin-top: 0px;
    text-align: center;
}
.con2_shu{
    width: 100%;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-align: center;
}
.con2_shu_1{
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-image: url(../img/index_con2_top1.png);
}
.con2_shu_1_1{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.con2_btm_row{
    padding: 20px 10px;
}
.con2_btm{
    padding: 20px 1vw;
    background-color: #fff;
}
.con2_btm:hover{
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    -webkit-transform: rotate(0deg) scale(1) translate(0%, -5%);
    transform: rotate(0deg) scale(1) translate(0%, -5%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}
.con2_btm_0{
    width: 70px;
    height: 70px;
    min-height: 10px;
    display: block;
    line-height: 70px;
    margin: 0 auto;
}
.con2_btm_1{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-image: url(../img/index_con2_btm1.png);
    margin: 0 auto;
}
.con2_btm_2{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-image: url(../img/index_con2_btm2.png);
    margin: 0 auto;
}
.con2_btm_3{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-image: url(../img/index_con2_btm3.png);
    margin: 0 auto;
}
.con2_h4{
    font-weight: normal;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.con2_p{
    line-height: 1.7em;
    font-weight: 200;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 13px;
    opacity: 0.8;
    color: #434343;
    text-align: center;
}
/* con2 end yzc */
/* con3 start yzc */
.con3_row{
    padding: 0px;
}
.con3_col{
    background: transparent;
    padding: 20px;
}
.con3_col_kj{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    min-height: 205px;
}
.con3_col_kj_top{
    position: relative;
    overflow: hidden;
    min-height: 80px;
}
.con3_col_kj_top_yc{
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 50;
    transform: rotate(0deg) scale(1) translate(0%, 0%);
    transition: all 1s ease 0s;
    color: rgb(255, 255, 255);
    background-color: rgba(253, 164, 19, 0.9);
}
.con3_col_kj_dh{
    overflow: hidden;
    position: relative;
    top:50%;
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(1) translate(0%, -50%);
    transform: rotate(0deg) scale(1) translate(0%, -50%);
    -webkit-transition: All 0.3s ease;
    transition: All 0.3s ease;
    padding: 20px;
}
.con3_col_dh_p{
    margin-top: 10px;
}
.con3_col_kj_top_yc::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    background-image: url(../img/index_con3_10.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: rotate(0deg) scale(1) translate(-100%, 0%);
    transform: rotate(0deg) scale(1) translate(-100%, 0%);
    -webkit-transition: All 0.3s ease;
    transition: All 0.3s ease;
}
.con3_col_kj_top_yc:hover::before{
    -webkit-transform: rotate(0deg) scale(1) translate(100%, 0%);
    transform: rotate(0deg) scale(1) translate(100%, 0%);
}
.con3_dh{
    animation: dr 0.5s forwards;
}
.con3_dh2{
    animation: dr2 0.5s forwards;
}
@keyframes dr{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes dr2{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.con3_col_kj_img{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 2 */
.con3_col_kj_img2{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 3 */
.con3_col_kj_img3{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 4 */
.con3_col_kj_img4{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 5 */
.con3_col_kj_img5{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 6 */
.con3_col_kj_img6{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_6.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 7 */
.con3_col_kj_img7{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_7.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* 8 */
.con3_col_kj_img8{
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 140%;
    background-image: url(../img/index_con3_8.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* con3 end yzc */
/* con4 start yzc */
.con4_out{
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: rgb(250, 250, 250);
    min-height: 20px;
    background-image: url(../img/index_con4_1.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.con4_in{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    min-height: 20px;
}
.con4_h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.con4_p{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}
/* con4 end yzc */

/* con5 start yzc */
.con5_row{
    padding-bottom: 0px;
    border-bottom: 1px none rgb(79, 79, 79);
    align-items: flex-start;
    flex-flow: row wrap;
    color: #434343;
    text-align: left;
}
.con5_md{
    background-color: transparent;
    padding: 10px;
}
.con5_dh{
    min-height: 20px;
    display: flex;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0px;
}
.con5_dh:hover{
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    -webkit-transform: rotate(0deg) scale(1) translate(0%, -5%);
    transform: rotate(0deg) scale(1) translate(0%, -5%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}
.con5_lianjie{
    width: 100%;
    min-height: 20px;
    margin-right: 1px;
    display: block;
    align-self: flex-start;
    flex: 0 1 auto;
}
.con5_lj_bj{
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    top: 0px;
    left: 0px;
    padding-top: 68%;
}
.con5_lj_bj1{
    background-image: url(../img/index_con5_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_lj_bj2{
    background-image: url(../img/index_con5_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_lj_bj3{
    background-image: url(../img/index_con5_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_lj_bj4{
    background-image: url(../img/index_con5_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_lj_bj5{
    background-image: url(../img/index_con5_5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_lj_bj6{
    background-image: url(../img/index_con5_6.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_lj_bj7{
    background-image: url(../img/index_con5_7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_lj_bj8{
    background-image: url(../img/index_con5_8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.con5_wenzi{
    min-height: 10px;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 1 auto;
    width: 100%;
}
.con5_wenzi_in{
    min-height: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}
.con5_wenzi_in_top{
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.2em;
    transform: rotate(0deg) scale(1) translate(0%, 0%);
    transition: all 0.5s ease;
    color: rgb(85, 85, 85);
    -webkit-line-clamp: 1;
    text-align: center;
}
.con5_wenzi_in_top:hover{
    color: rgb(66, 139, 202) !important;
    text-decoration: none;
}
.con5_wenzi_label{
    font-weight: normal;
    top: 48px;
    opacity: 0.7;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
}
.con5_button{
    margin-top: 15px;
    min-width: 120px;
    min-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
}
.con5_button:hover{
    background-color: #000;
    color: #fff;
    text-decoration: none;
}
.con5_btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid rgba(51, 51, 51, 1);
    margin: 15px 15px 0;
    border-radius: 4px;
    position: absolute;
    right: 0;
}
.con5_wenzi{
    min-height: 10px;
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 1 auto;
    width: 100%;
}
/* con5 end yzc */
/* con6 start yzc */
.c_row{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}
.con6_row{
    padding-bottom: 0px;
    border-bottom: 1px none rgb(79, 79, 79);
    align-items: flex-start;
    flex-flow: row wrap;
    color: white;
    text-align: left;
}
.col-md-2_4{
    width: 20%;
    background-color: transparent;
    padding: 5px;
    text-align: left;
    float: left;
    display: inline-block;
    vertical-align: top;
    *display: inline;
}
.con6_dh{
    background-color: #F1F1F1;
}
.con6_dh:hover{
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
    -webkit-transform: rotate(0deg) scale(1) translate(0%, -5%);
    transform: rotate(0deg) scale(1) translate(0%, -5%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;
}
.con6_pd{
    padding: 15px;
    min-height: 80px;
}
.con6_tp{
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 64%;
}
.con6_tp1{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_1.png);
}
/* 2 */
.con6_tp2{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_2.png);
}
/* 3 */
.con6_tp3{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_3.png);
}
/* 4 */
.con6_tp4{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con5_4.jpg);
}
/* 5 */
.con6_tp5{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_5.png);
}
/* 6 */
.con6_tp6{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_6.png);
}
/* 7 */
.con6_tp7{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_7.png);
}
/* 8 */
.con6_tp8{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_8.png);
}
/* 9 */
.con6_tp9{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_9.png);
}
/* 10 */
.con6_tp10{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_10.png);
}
/* 11 */
.con6_tp11{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_11.png);
}
/* 12 */
.con6_tp12{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_12.png);
}
/* 13 */
.con6_tp13{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_13.png);
}
/* 14 */
.con6_tp14{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_14.png);
}
/* 15 */
.con6_tp15{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_15.jpg);
}
/* 16 */
.con6_tp16{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_16.png);
}
/* 17 */
.con6_tp17{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_17.png);
}
/* 18 */
.con6_tp18{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_18.png);
}
/* 19 */
.con6_tp19{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_19.png);
}
/* 20 */
.con6_tp20{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_20.jpg);
}
/* 21 */
.con6_tp21{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_21.png);
}
/* 22 */
.con6_tp22{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_22.png);
}
/* 23 */
.con6_tp23{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_23.png);
}
/* 24 */
.con6_tp24{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_24.png);
}
/* 25 */
.con6_tp25{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_25.png);
}
/* 26 */
.con6_tp26{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_26.png);
}
/* 27 */
.con6_tp27{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_27.png);
}
/* 28 */
.con6_tp28{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_28.png);
}
/* 29 */
.con6_tp29{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_29.png);
}
/* 30 */
.con6_tp30{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_30.png);
}
/* 31 */
.con6_tp31{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_31.png);
}
/* 32 */
.con6_tp32{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_32.png);
}
/* 33 */
.con6_tp33{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_33.png);
}
/* 34 */
.con6_tp34{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_34.png);
}
/* 35 */
.con6_tp35{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_35.png);
}
/* 36 */
.con6_tp36{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_36.png);
}
/* 37 */
.con6_tp37{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_37.png);
}
/* 38 */
.con6_tp38{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_38.gif);
}
/* 39 */
.con6_tp39{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_39.png);
}
/* 40 */
.con6_tp40{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/index_con6_40.png);
}
/* con6 end yzc */
/* con7 start yzc */
.con7_hz{
    width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.con7_m{
    padding: 2% 2%;
    border-radius: 10px;
    flex: 1;
    max-width: 520px;
    min-width: 320px;
    margin: 0 5px 30px;
    overflow: auto;
    min-height: 0;
    background-color: #f6f6f6;
}
.con7_p{
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 15px;
    text-align: left;
}
.con7_p1{
    text-align: left;
    font-size: 12px;
    line-height: 15px;
}
.con7_p1_label{
    width: 65px;
    display: inline-block;
    color: #c3c3c3;
    margin-left: 5px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
/* con7 end yzc */
/* con8 start yzc */
.con8{
    background: url(../img/index_banner1.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.con8_bo{
    padding: 15px 15px 15px 50px;
    padding-right: 50px;
}
.con8_left{
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 200px;
    padding: 80px 70px 90px;
    padding-top: 85px;
}
.con8_left_p1{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.con8_left_p2{
    color: rgb(253, 164, 19);
}
.con8_right{
    min-height: 300px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(248, 248, 248, 0);
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.myform{
    color: rgb(67, 67, 67);
    display: inline-block;
    text-align: left;
    width: 100%;
}
.mf_top{
    min-height: 0px;
    min-width: 40%;
    flex: 1 1 40%;
    padding-left: 5px;
    padding-right: 5px;
}
.mf_c-input{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}
.mf_inp{
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-width: 4px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-radius: 0px;
    color: inherit;
}
.btn{
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 120px;
    border-radius: 60px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: rgba(253,164,19,1);
}
.btn:hover{
    background-color: #eea236;
    color: #fff;
}
.btn-waring{
    background-color: #eea236;
    color: #fff;
}
/* con8 end yzc */
/* content end yzc */